{% extends 'base.html.twig' %}

{% block title %}Détails de la Voiture{% endblock %}

{% block content %}
    <div class="container mt-5">
        <h2>Détails de la Voiture</h2>

        <div class="card" style="width: 18rem;">
        
            {% if voiture.image %}
                <img src="{{ asset('uploads/voitures/' ~ voiture.image) }}" alt="Image de la voiture" class="card-img-top" style="max-width: 300px; height: auto;">
            {% else %}
                <p>Aucune image disponible</p>
            {% endif %}

            <div class="card-body">
                <h5 class="card-title">{{ voiture.marque }} - {{ voiture.description }}</h5>
                <p class="card-text">
                    <strong>Modèle:</strong> {{ voiture.marque }}<br>
                    <strong>Prix:</strong> {{ voiture.prix }} TND<br>
                    <strong>Kilométrage:</strong> {{ voiture.kilometrage }} km<br>
                    <strong>Couleur:</strong> {{ voiture.couleur }}<br>
                    <strong>Disponibilité:</strong> {{ voiture.disponibilite == '1' ? 'Disponible' : 'Indisponible' }}<br>
                    
                    <hr> 
                    
                    <strong>Catégorie:</strong> {{ voiture.id_c.type }}<br>
                    <strong>Type de carburant:</strong> {{ voiture.id_c.typeCarburant }}<br>
                    <strong>Type d'utilisation:</strong> {{ voiture.id_c.typeUtilisation }}<br>
                    <strong>Transmission:</strong> {{ voiture.id_c.transmission }}<br>
                    <strong>Nombre de portes:</strong> {{ voiture.id_c.nbrPorte }}<br>
                </p>
            </div>
        </div> 
        <a href="{{ path('app_car') }}" class="btn btn-secondary mt-3">Retour à la liste</a>
    </div>
{% endblock %}
