{% extends 'base.html.twig' %}

{% block title %}Détails de la Voiture{% endblock %}
{% block spinner %}{% endblock %}

{% block content %}
<div class="container mt-5">
    <h2>Détails de la Voiture</h2>

    <div class="row">
        <div class="col-md-4">
            <div class="card">
                {% if voiture.image %}
                    <img src="{{ asset('uploads/voitures/' ~ voiture.image) }}" alt="Image de la voiture" class="card-img-top" style="max-width: 100%; height: auto;">
                {% else %}
                    <div class="card-body text-center">
                        <p>Aucune image disponible</p>
                    </div>
                {% endif %}
            </div>
        </div>
        

        <div class="col-md-8">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">{{ voiture.marque }} - {{ voiture.description }}</h5>
                    <p class="card-text">
                        <strong>Modèle:</strong> {{ voiture.marque }}<br>
                        <strong>Prix:</strong> {{ voiture.prix }} TND <a href="{{ path('currency_conversion', { amount: voiture.prix }) }}" class="btn btn-outline-success">Convertir le Prix</a><br>
                        <strong>Kilométrage:</strong> {{ voiture.kilometrage }} km<br>
                        <strong>Couleur:</strong> {{ voiture.couleur }}<br>
                        <strong>Disponibilité:</strong> {{ voiture.disponibilite == '1' ? 'Disponible' : 'Indisponible' }}<br>

                        <hr>

                        <strong>Catégorie:</strong> {{ voiture.id_c.type }}<br>
                        <strong>Type de carburant:</strong> {{ voiture.id_c.typeCarburant }}<br>
                        <strong>Type d'utilisation:</strong> {{ voiture.id_c.typeUtilisation }}<br>
                        <strong>Transmission:</strong> {{ voiture.id_c.transmission }}<br>
                        <strong>Nombre de portes:</strong> {{ voiture.id_c.nbrPorte }}<br>
                    </p>
                </div>
            </div>
            <a href="{{ path('car_details_index', { make: voiture.marque, model: '' }) }}" class="btn btn-outline-info">
        Infos Complètes
    </a>
        </div>
    </div>
    <a href="{{ path('app_car') }}" class="btn btn-secondary mt-3">⬅️ Retour à la liste</a>
</div>
{% endblock %}
