{% extends 'base.html.twig' %}

{% block title %}Réserver un véhicule{% endblock %}

{% block body %}
<h1>Réserver le véhicule</h1>



<div class="modal fade" id="reservationModal{{ voiture.id_v }}" tabindex="-1" aria-labelledby="reservationModalLabel{{ voiture.id_v }}" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="reservationModalLabel{{ voiture.id_v }}">Reservation Form</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <form method="post" action="{{ path('car_reservation', { id: voiture.id_v }) }}">
        <div class="modal-body">
          <div class="mb-3">
            <label class="form-label">Vehicule</label>
            <input type="text" class="form-control" value="{{ voiture.marque }} ID: {{ voiture.id_v }}" readonly>
            <input type="hidden" name="vehicule_id" value="{{ voiture.id_v }}">
          </div>
          <div class="mb-3">
            <label class="form-label">Client</label>
            {% if app.user %}
                <input type="text" class="form-control" value="{{ app.user.username }} ID: {{ app.user.id }}" readonly>
                <input type="hidden" name="client_id" value="{{ app.user.id }}">
            {% else %}
                <input type="text" class="form-control" value="{{ "ADIB" }} ID: {{ "3" }}" readonly>
                <input type="hidden" name="client_id" value="{{ "3" }}">
            {% endif %}
          </div>
          <div class="mb-3">
            <label class="form-label">Date</label>
            <input type="date" class="form-control" name="reservation_date">
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
          <button type="submit" class="btn btn-dark">Reserver</button>
        </div>
      </form>
    </div>
  </div>
</div>
{% endblock %}