{% extends 'base_admin.html.twig' %}

{% block title %}Edit Réservation Test Drive{% endblock %}

{% block content %}
<div class="container">
    <h1>Edit Réservation Test Drive</h1>

    {{ form_start(form, {'attr': {'class': 'mt-4', 'novalidate': 'novalidate'}}) }}
        {{ form_widget(form._token) }}
        
        <div class="mb-3">
            {{ form_label(form.id_u) }}
            {{ form_widget(form.id_u) }}
            {{ form_errors(form.id_u) }}
        </div>
        
        <div class="mb-3">
            {{ form_label(form.id_v) }}
            {{ form_widget(form.id_v) }}
            {{ form_errors(form.id_v) }}
        </div>
        
        <div class="mb-3">
            {{ form_label(form.date) }}
            {{ form_widget(form.date) }}
            {{ form_errors(form.date) }}
        </div>

        <button type="submit" class="btn btn-primary mt-3">Save Changes</button>
    {{ form_end(form, {'render_rest': false}) }}

    <a href="{{ path('app_reservation_test_drive') }}" class="btn btn-secondary mt-3">Back to list</a>
</div>
{% endblock %}