{# templates/base.html.twig #}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Portal - Admin Dashboard{% endblock %}</title>

    <!-- CSS -->
    {% block css %}
    <link rel="stylesheet" href="{{ asset('css/portal.css') }}" id="theme-style">
    <link rel="shortcut icon" href="{{ asset('favicon.ico') }}">
     {% endblock %}
     {%block fontjs %}
    <!-- FontAwesome JS -->
    <script defer src="{{ asset('plugins/fontawesome/js/all.min.js') }}"></script>
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>

{% endblock %}
</head>
<body class="app">
{% block body %}
    <header class="app-header fixed-top">
        <!-- Barre de navigation supérieure -->
        <div class="app-header-inner">
            <div class="container-fluid py-2">
                <div class="app-header-content">
                    <div class="row justify-content-between align-items-center">
                        <div class="col-auto">
                            <a id="sidepanel-toggler" class="sidepanel-toggler d-inline-block d-xl-none" href="#">
                                <svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" viewBox="0 0 30 30" role="img">
                                    <title>Menu</title>
                                    <path stroke="currentColor" stroke-linecap="round" stroke-miterlimit="10" stroke-width="2" d="M4 7h22M4 15h22M4 23h22"></path>
                                </svg>
                            </a>
                        </div>
                        <!-- Bloc pour personnaliser la navbar -->
                        {% block navbar %}
                            <!-- Contenu par défaut de la navbar -->
                            
                        {% endblock %}
                    </div>
                </div>
            </div>
        </div>

        <!-- Sidebar -->
        <div id="app-sidepanel" class="app-sidepanel">
            <div id="sidepanel-drop" class="sidepanel-drop"></div>
            <div class="sidepanel-inner d-flex flex-column">
                <a href="#" id="sidepanel-close" class="sidepanel-close d-xl-none">×</a>
                <div class="app-branding">
                    <a class="app-logo" href="#">
                        <img class="logo-icon me-2" src="{{ asset('images/logo.png') }}" alt="logo">
                        <span class="logo-text">AutoHeaven</span>
                    </a>
                </div>

                <!-- Bloc pour personnaliser le sidebar -->
                {% block sidebar %}
    <nav id="app-nav-main" class="app-nav app-nav-main flex-grow-1">
        <ul class="app-menu list-unstyled accordion" id="menu-accordion">
            <li class="nav-item">
               <a class="nav-link {% if app.request.attributes.get('_route') == 'app_acceuil' %}active{% endif %}" href="{{ path('app_acceuil') }}">
                    <span class="nav-icon">
                        <i class="fas fa-home"></i>
                    </span>
                    <span class="nav-link-text">Accueil</span>
                </a>
            </li>
            <li class="nav-item">
               <a class="nav-link {% if app.request.attributes.get('_route') == 'app_client' %}active{% endif %}" href="{{ path('app_client') }}">

                    <span class="nav-icon">
                        <i class="fas fa-users"></i>
                    </span>
                    <span class="nav-link-text">Clients</span>
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link {% if app.request.attributes.get('_route') == 'app_mecanicien' %}active{% endif %}" href="{{ path('app_mecanicien') }}">
                    <span class="nav-icon">
                        <i class="fas fa-user-cog"></i>
                    </span>
                    <span class="nav-link-text">Mécaniciens</span>
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link {% if app.request.attributes.get('_route') == 'app_voiture' %}active{% endif %}" href="{{ path('app_voiture') }}">
                    <span class="nav-icon">
                        <i class="fas fa-car"></i>
                    </span>
                    <span class="nav-link-text">Voitures</span>
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link {% if app.request.attributes.get('_route') == 'app_categorie' %}active{% endif %}" href="{{ path('app_categorie') }}">
                    <span class="nav-icon">
                        <i class="fas fa-list"></i>
                    </span>
                    <span class="nav-link-text">Catégories</span>
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link {% if app.request.attributes.get('_route') == 'app_offre' %}active{% endif %}" href="{{ path('app_offre') }}">
                    <span class="nav-icon">
                        <i class="fas fa-tag"></i>
                    </span>
                    <span class="nav-link-text">Offres</span>
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link {% if app.request.attributes.get('_route') == 'app_equipements' %}active{% endif %}" href="{{ path('app_equipements') }}">
                    <span class="nav-icon">
                        <i class="fas fa-tools"></i>
                    </span>
                    <span class="nav-link-text">Équipements</span>
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link {% if app.request.attributes.get('_route') == 'app_reclamation_list' %}active{% endif %}" href="{{ path('app_reclamation_list') }}">
                    <span class="nav-icon">
                        <i class="fas fa-exclamation-circle"></i>
                    </span>
                    <span class="nav-link-text">Réclamations</span>
                </a>
            </li>
            <li class="nav-item">
               <a class="nav-link {% if app.request.attributes.get('_route') == 'app_commande' %}active{% endif %}" href="{{ path('app_commande') }}">
                    <span class="nav-icon">
                        <i class="fas fa-shopping-cart"></i>
                    </span>
                    <span class="nav-link-text">Commandes</span>
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link {% if app.request.attributes.get('_route') == 'app_camion_remorquage' %}active{% endif %}" href="{{ path('app_camion_remorquage') }}">
                    <span class="nav-icon">
                        <i class="fas fa-truck"></i>
                    </span>
                    <span class="nav-link-text">Camions remorquage</span>
                </a>
            </li>
            <li class="nav-item">
               <a class="nav-link {% if app.request.attributes.get('_route') == 'app_rdv_mecanicien' %}active{% endif %}" href="{{ path('app_rdv_mecanicien') }}">
                    <span class="nav-icon">
                        <i class="fas fa-calendar-alt"></i>
                    </span>
                    <span class="nav-link-text">RDV mécaniciens</span>
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link {% if app.request.attributes.get('_route') == 'app_reservation_remorquage' %}active{% endif %}" href="{{ path('app_reservation_remorquage') }}">
                    <span class="nav-icon">
                        <i class="fas fa-calendar-check"></i>
                    </span>
                    <span class="nav-link-text">Réservation Remorquage</span>
                </a>
            </li>
           <li class="nav-item">
  <a class="nav-link {% if app.request.attributes.get('_route') == 'app_statistique' %}active{% endif %}" href="{{ path('app_statistique') }}">
    <span class="nav-icon">
        <i class="fas fa-chart-bar"></i>
    </span>
    <span class="nav-link-text">Statistique Avis</span>
</a>



</li>

        </ul>
    </nav>

   <div class="app-sidepanel-footer">
    <nav class="app-nav app-nav-footer">
        <ul class="app-menu footer-menu list-unstyled">
            <li class="nav-item">
                <a class="nav-link" href="#">
                    <span class="nav-icon">
                        <i class="fas fa-sign-out-alt"></i>
                    </span>
                    <span class="nav-link-text">Logout</span>
                </a>
            </li>
        </ul>
    </nav>
</div>
{% endblock %}
            </div>
        </div>
    </header>

    <div class="app-wrapper">
        <div class="app-content pt-3 p-md-3 p-lg-4">
            <div class="container-xl">
                {% block content %}{% endblock %}
            </div>
        </div>

       
    </div>

   
 
    {% endblock %}

</body>
</html>