{% extends 'base_admin.html.twig' %}

{% block title %}Ajouter une Offre{% endblock %}

{% block content %}
<div class="container mt-5">
    <h1 class="text-center text-danger mb-4">Ajouter une Offre</h1>

    <div class="row justify-content-center">
        <div class="col-md-8 col-lg-6">
            {{ form_start(form, {'attr': {'novalidate': 'novalidate'}}) }}
            
            <div class="card p-4 shadow-sm">
                <h4 class="text-center text-secondary mb-4">Détails de l'Offre</h4>

                <div class="form-group mb-3">
                    {{ form_row(form.type_offre, {'attr': {'class': 'form-control'}}) }}
                </div>
                <div class="form-group mb-3">
                    {{ form_row(form.description, {'attr': {'class': 'form-control'}}) }}
                </div>
                <div class="form-group mb-3">
                    {{ form_row(form.taux_reduction, {'attr': {'class': 'form-control'}}) }}
                </div>
                <div class="form-group mb-3">
                    {{ form_row(form.date_debut, {'attr': {'class': 'form-control'}}) }}
                </div>
                <div class="form-group mb-3">
                    {{ form_row(form.date_fin, {'attr': {'class': 'form-control'}}) }}
                </div>
                <div class="form-group mb-3">
                    {{ form_row(form.equipement, {'attr': {'class': 'form-control'}}) }}
                </div>

                <button type="submit" class="btn btn-danger btn-block">Enregistrer</button>
            </div>
            
            {{ form_end(form) }}
        </div>
    </div>
</div>
{% endblock %}
