{% extends 'base_admin.html.twig' %}

{% block title %}Edit Réservation Mécanicien{% endblock %}

{% block content %}
<div class="container">
    <h1>Modifier Réservation</h1>

    {{ form_start(form, {'attr': {'class': 'mt-4', 'novalidate': 'novalidate'}}) }}
        {{ form_widget(form._token) }}
        <div class="mb-3">
            <label class="form-label">Client</label>
            <input type="text" class="form-control" value="{{ reservation.client.nom }} {{ reservation.client.prenom }} ({{ reservation.client.id }})" readonly>
            {{ form_widget(form.client, {'attr': {'class': 'd-none'}}) }}
        </div>

        <div class="mb-3">
            <label class="form-label">Mécanicien</label>
            <input type="text" class="form-control" value="{{ reservation.mecanicien.nom }} {{ reservation.mecanicien.prenom }} ({{ reservation.mecanicien.id }})" readonly>
            {{ form_widget(form.mecanicien, {'attr': {'class': 'd-none'}}) }}
        </div>        
        
        <div class="mb-3">
            {{ form_label(form.adresse) }}
            {{ form_widget(form.adresse) }}
            {{ form_errors(form.adresse) }}
        </div>
        
        <div class="mb-3">
            {{ form_label(form.note) }}
            {{ form_widget(form.note) }}
            {{ form_errors(form.note) }}
        </div>
        
        <div class="mb-3">
            {{ form_label(form.date) }}
            {{ form_widget(form.date) }}
            {{ form_errors(form.date) }}
        </div>
        
        <button type="submit" class="btn btn-primary mt-3">Modifier</button>
    {{ form_end(form, {'render_rest': false}) }}

    <a href="{{ path('app_rdv_mecanicien') }}" class="btn btn-secondary mt-3">Annuler</a>
</div>
{% endblock %}